@import "darkmode.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "proxima-nova-condensed", sans-serif;
}

.main-container{
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.190);
}

.navbar svg{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter-search input, .filter-region select{
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.055) 0px 0px 16px;
}

.filter-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}